<div id="integrations" class="integrations section panel overflow-hidden" style="margin-bottom: 80px;">
        <div class="section-outer panel py-6 xl:py-9 bg-secondary dark:bg-primary dark:text-white">
            <div class="container max-w-lg">
                <div class="section-inner panel ">
                    <div class="panel vstack items-center gap-4 sm:gap-6 xl:gap-8" data-anime="onview: -100; targets: >*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 100});">
                        <div class="panel vstack items-center gap-2 xl:gap-3 text-center">
                            <h2 class="h3 lg:h2 xl:h1 m-0">Explore Our Courses </h2>
                            <p class="fs-6 xl:fs-5 text-dark dark:text-white text-opacity-70">
                                Choose from Bachelor's, Master's, Diplomas & Advanced Diplomas in Design & Media</p>
                        </div>
                        <div class="row child-cols-12  sm:child-cols-6 lg:child-cols-4 col-match g-2 lg:g-4 " data-anime="onview: -100; targets: > *; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                            <div class="coursecards">
                                <div class="panel courseoutline vstack justify-between gap-4 p-3 rounded lg:rounded-2 bg-white text-dark">
                                    <div class="vstack gap-3">
                                        <div class="hstack justify-between items-center">
                                            <div class="vstack">
                                                <h5 class="h5 m-0 text-dark">Interior Designing</h5>
                                                <span class="fs-7 opacity-70 dark:opacity-80">Design Spaces</span>
                                            </div>
                                            <img class="w-32px lg:w-40px" src="/assets/images/interior.png" alt="Slack">
                                        </div>
                                        <p class="fs-6 opacity-70 dark:opacity-80">
                                            Turn empty rooms into inspiring environments. Learn how to blend function and style for homes, offices, and commercial spaces.</p>
                                    </div>
                                    <a class='uc-link fw-bold fs-7 d-inline-flex items-center gap-narrow' href='/interior-designing'>
                                        <span>Explore</span>
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="coursecards">
                                <div class="panel vstack courseoutline justify-between gap-4 p-3 rounded lg:rounded-2 bg-white text-dark">
                                    <div class="vstack gap-3">
                                        <div class="hstack justify-between items-center">
                                            <div class="vstack">
                                                <h5 class="h5 m-0 text-dark">Fashion Designing</h5>
                                                <span class="fs-7 opacity-70 dark:opacity-80">Create Trends</span>
                                            </div>
                                            <img class="w-32px lg:w-40px" src="/assets/images/fashion.png" alt="Salesforce">
                                        </div>
                                        <p class="fs-6 opacity-70 dark:opacity-80">
                                            Bring your creativity to the runway. Learn the art of garment design, fashion styling, and trend forecasting to shape the future of style.
                                            </p>
                                    </div>
                                    <a class='uc-link fw-bold fs-7 d-inline-flex items-center gap-narrow' href='/fashion-designing'>
                                        <span>Explore</span>
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="coursecards">
                                <div class="panel vstack courseoutline justify-between gap-4 p-3 rounded lg:rounded-2 bg-white text-dark">
                                    <div class="vstack gap-3">
                                        <div class="hstack justify-between items-center">
                                            <div class="vstack">
                                                <h5 class="h5 m-0 text-dark">Graphic Designing</h5>
                                                <span class="fs-7 opacity-70 dark:opacity-80">Build Brands
                                                </span>
                                            </div>
                                            <img class="w-32px lg:w-40px" src="/assets/images/graphic.png" alt="Stripe">
                                        </div>
                                        <p class="fs-6 opacity-70 dark:opacity-80">Transform ideas into stunning visuals. Master the tools and techniques to craft logos, ads, and digital media that define brand identities.
                                        </p>
                                    </div>
                                    <a class='uc-link fw-bold fs-7 d-inline-flex items-center gap-narrow' href='/graphic-designing'>
                                        <span>Explore</span>
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="coursecards">
                                <div class="panel vstack courseoutline justify-between gap-4 p-3 rounded lg:rounded-2 bg-white text-dark">
                                    <div class="vstack gap-3">
                                        <div class="hstack justify-between items-center">
                                            <div class="vstack">
                                                <h5 class="h5 m-0 text-dark">Photography</h5>
                                                <span class="fs-7 opacity-70 dark:opacity-80">Capture Stories</span>
                                            </div>
                                            <img class="w-32px lg:w-40px" src="/assets/images/photography.png" alt="photography">
                                        </div>
                                        <p class="fs-6 opacity-70 dark:opacity-80">Tell powerful stories through your lens. Explore lighting, composition, and editing to become a visual storyteller in any niche.
                                        </p>
                                    </div>
                                    <a class='uc-link fw-bold fs-7 d-inline-flex items-center gap-narrow' href='/photography'>
                                        <span>Explore</span>
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="coursecards">
                                <div class="panel vstack courseoutline justify-between gap-4 p-3 rounded lg:rounded-2 bg-white text-dark">
                                    <div class="vstack gap-3">
                                        <div class="hstack justify-between items-center">
                                            <div class="vstack">
                                                <h5 class="h5 m-0 text-dark">Event Management</h5>
                                                <span class="fs-7 opacity-70 dark:opacity-80">Plan Events
                                                </span>
                                            </div>
                                            <img class="w-32px lg:w-40px" src="/assets/images/event.png" alt="event-mgmt">
                                        </div>
                                        <p class="fs-6 opacity-70 dark:opacity-80">From weddings to corporate shows, learn to organize unforgettable experiences. Develop leadership, planning, and execution skills.
                                        </p>
                                    </div>
                                    <a class='uc-link fw-bold fs-7 d-inline-flex items-center gap-narrow' href='/event-management'>
                                        <span>Explore</span>
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="coursecards">
                                <div class="panel vstack courseoutline justify-between gap-4 p-3 rounded lg:rounded-2 bg-white text-dark">
                                    <div class="vstack gap-3">
                                        <div class="hstack justify-between items-center">
                                            <div class="vstack">
                                                <h5 class="h5 m-0 text-dark">UI/UX</h5>
                                                <span class="fs-7 opacity-70 dark:opacity-80">Design Interfaces
                                                </span>
                                            </div>
                                            <img class="w-32px lg:w-40px" src="/assets/images/ui.png" alt="ui/ux">
                                        </div>
                                        <p class="fs-6 opacity-70 dark:opacity-80">Shape how people interact with technology. Learn to create seamless, user-friendly digital products that people love to use.
                                        </p>
                                    </div>
                                    <a class='uc-link fw-bold fs-7 d-inline-flex items-center gap-narrow' href='uiux-designing'>
                                        <span>Explore</span>
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="coursecards">
                                <div class="panel vstack courseoutline justify-between gap-4 p-3 rounded lg:rounded-2 bg-white text-dark">
                                    <div class="vstack gap-3">
                                        <div class="hstack justify-between items-center">
                                            <div class="vstack">
                                                <h5 class="h5 m-0 text-dark">Digital Marketing</h5>
                                                <span class="fs-7 opacity-70 dark:opacity-80">Promote Brands</span>
                                            </div>
                                            <img class="w-32px lg:w-40px" src="/assets/images/digital.png" alt="digital marketing">
                                        </div>
                                        <p class="fs-6 opacity-70 dark:opacity-80">Learn to grow businesses online through SEO, social media, and ads. Master digital tools to launch a career in marketing and analytics.
                                        </p>
                                    </div>
                                    <a class='uc-link fw-bold fs-7 d-inline-flex items-center gap-narrow' href='/digital-marketing'>
                                        <span>Explore</span>
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="coursecards">
                                <div class="panel vstack courseoutline justify-between gap-4 p-3 rounded lg:rounded-2 bg-white text-dark">
                                    <div class="vstack gap-3">
                                        <div class="hstack justify-between items-center">
                                            <div class="vstack">
                                                <h5 class="h5 m-0 text-dark">Animation Designing</h5>
                                                <span class="fs-7 opacity-70 dark:opacity-80">Bring Ideas Alive
                                                </span>
                                            </div>
                                            <img class="w-32px lg:w-40px" src="/assets/images/animation.png" alt="animation designing">
                                        </div>
                                        <p class="fs-6 opacity-70 dark:opacity-80">Create motion graphics, 2D/3D animations, and visual effects. Turn imagination into moving stories across film, games, and media.</p>
                                    </div>
                                    <a class='uc-link fw-bold fs-7 d-inline-flex items-center gap-narrow' href='/animation-designing'>
                                        <span>Explore</span>
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="coursecards">
                                <div class="panel vstack courseoutline justify-between gap-4 p-3 rounded lg:rounded-2 bg-white text-dark">
                                    <div class="vstack gap-3">
                                        <div class="hstack justify-between items-center">
                                            <div class="vstack">
                                                <h5 class="h5 m-0 text-dark">Need Help?
                                                </h5>
                                                <span class="fs-7 opacity-70 dark:opacity-80">Career Guidance
                                                </span>
                                            </div>
                                            <img class="w-32px lg:w-40px" src="/assets/images/help.png" alt="HubSpot">
                                        </div>
                                        <p class="fs-6 opacity-70 dark:opacity-80">Confused about which path to take? Click here — let us help you choose the right course, career, and opportunities ahead.</p>
                                    </div>
                                    <a class='uc-link fw-bold fs-7 d-inline-flex items-center gap-narrow' href='/admission'>
                                        <span>Explore</span>
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a class='uc-link fw-bold d-inline-flex items-center gap-narrow dark:text-white' href='/courses'>
                            <span>Explore all Courses</span>
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    