<style>
    .main-features-switcher ul,.main-features-switcher p{
        font-size: 16px !important;
    }
    .main-features-switcher ul{
        padding-left: 20px;
    }
</style>
    <!-- Section start -->
    <div id="main_features" class="main-features section panel overflow-hidden">
        <div class="section-outer panel pb-6 xl:pb-9">
            <div class="container max-w-xl lg:max-w-lg">
                <div class="section-inner panel" data-anime="onview: -100; targets: >*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 100});">
                    <div class="panel vstack items-center gap-2 xl:gap-3 mb-4 sm:mb-8 xl:mb-9 sm:max-w-600px xl:max-w-700px mx-auto text-center">
                        <h2 class="h3 lg:h2 xl:h1 m-0">International School Of Design</h2>
                        <p class="fs-6 xl:fs-5 text-dark dark:text-white text-opacity-70"><b><I> INSD Raipur</I></b> is your gateway to a world-class career in design and media. With global exposure, expert mentors, and industry-driven programs, we empower you to turn your creativity into a profession.</p>
                    </div>
                    <div class="panel vstack gap-4 xl:gap-6">
                        <div class="panel px-3 rounded-2 bg-secondary dark:bg-gray-800">
                            <ul class="main-features-nav hstack text-center overflow-auto" data-uc-switcher="connect: .main-features-switcher; active: 0; animation: uc-animation-fade;">
                                <li><a class="h6 lg:h5 text-nowrap m-0" href="#">Global Presence</a></li>
                                <li><a class="h6 lg:h5 text-nowrap m-0" href="#">Learn from the Best</a></li>
                                <li><a class="h6 lg:h5 text-nowrap m-0" href="#">Talent Meets Opportunity</a></li>
                                <li><a class="h6 lg:h5 text-nowrap m-0" href="#">Earn While Learn</a></li>
                            </ul>
                        </div>
                        <div style="padding: 10px !important" class="main-features-switcher uc-switcher overflow-hidden">
                            <div>
                                <div class="feature-item panel">
                                    <div class="row child-cols col-match justify-between g-4">
                                        <div class="col-12 sm:col-6">
                                            <figure class="featured-image m-0 rounded ratio ratio-1x1 rounded-2 overflow-hidden">
                                                <img class="media-cover image" src="/assets/images/global.png" alt="Share tools quickly and confidently in minutes">
                                            </figure>
                                        </div>
                                        <div class="col-12 sm:col-6">
                                            <div class="panel">
                                                <div class="panel vstack justify-center gap-4 h-100 sm:p-3 lg:p-4">
                                                    <div>
                                                        <div class="panel vstack gap-2">
                                                            <h3 class="h4 sm:h3 lg:h2 m-0">A World of Opportunities, Right from Raipur</h3>
                                                            <p class="fs-6 lg:fs-5 opacity-70 dark:opacity-80"> With an expansive network across India and beyond, INSD Raipur gives you unmatched exposure to global trends and practices. Our international connections open doors to new cultures, experiences, and collaborations — shaping you into a truly global design professional. </p>
                                                            <ul class="fs-6 lg:fs-5 opacity-70 dark:opacity-80">
                                                                <li> 75+ Centers across India</li>
                                                                  <li>7+ International Centers</li>  
                                                                 <li> Global exposure through International Study Tours</li>  
                                                                   <li> Cross-cultural design learning opportunities</li>
                                                            </ul>
                                                            <a href="/admission" class="uc-link fw-bold hstack gap-narrow mt-2 sm:mt-1 lg:mt-2">
                                                                <span>Get Started</span>
                                                                <i class="position-relative icon icon-1 fas fa-arrow-right rtl:rotate-180 translate-y-px"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="feature-item panel" >
                                    <div class="row child-cols col-match justify-between g-4">
                                        <div class="col-12 sm:col-6">
                                            <figure class="featured-image m-0 rounded ratio ratio-1x1 rounded-2 overflow-hidden">
                                                <img class="media-cover image" src="/assets/images/Expert.png" alt="Connect every part of your entire business">
                                            </figure>
                                        </div>
                                        <div class="col-12 sm:col-6">
                                            <div class="panel">
                                                <div class="panel vstack justify-center gap-4 h-100 sm:p-3 lg:p-4">
                                                    <div>
                                                        <div class="panel vstack gap-2">
                                                            <h3 class="h4 sm:h3 lg:h2 m-0">Guidance from Global Experts & Industry Veterans</h3>
                                                            <p class="fs-6 lg:fs-5 opacity-70 dark:opacity-80">                                                             At INSD Raipur, learning goes far beyond textbooks. Our faculty includes international mentors and seasoned professionals who’ve lived the industry. Through hands-on workshops and insider insights, you’ll gain knowledge that textbooks can’t teach.
                                                            </p>
                                                            <ul class="fs-6 lg:fs-5 opacity-70 dark:opacity-80">
                                                                <li>Mentorship from International Faculty</li>
                                                                  <li> Training by top industry professionals</li>  
                                                                 <li> 30+ Expert-led Workshops annually</li>  
                                                                   <li>Access to a real Industry Experts Panel</li>
                                                            </ul>
                                                            <a href="/admission" class="uc-link fw-bold hstack gap-narrow mt-2 sm:mt-1 lg:mt-2">
                                                                <span>Get Started</span>
                                                                <i class="position-relative icon icon-1 fas fa-arrow-right rtl:rotate-180 translate-y-px"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="feature-item panel">
                                    <div class="row child-cols col-match justify-between g-4">
                                        <div class="col-12 sm:col-6">
                                            <figure class="featured-image m-0 rounded ratio ratio-1x1 rounded-2 overflow-hidden">
                                                <img class="media-cover image" src="/assets/images/skill.png" alt="Maintain compliance and control your apps">
                                            </figure>
                                        </div>
                                        <div class="col-12 sm:col-6">
                                            <div class="panel">
                                                <div class="panel vstack justify-center gap-4 h-100 sm:p-3 lg:p-4">
                                                    <div>
                                                        <div class="panel vstack gap-2">
                                                            <h3 class="h4 sm:h3 lg:h2 m-0">Showcase Your Skills, Shine on Every Stage</h3>
                                                            <p class="fs-6 lg:fs-5 opacity-70 dark:opacity-80">We believe talent deserves the spotlight. INSD Raipur gives students multiple platforms to express their creativity — whether it's a fashion runway, an art exhibit, or a digital showcase. Build your portfolio while being seen and celebrated.</p>
                                                            <ul class="fs-6 lg:fs-5 opacity-70 dark:opacity-80">
                                                                <li>Platforms to showcase your creativity</li>
                                                                  <li>Participation in national-level design events & exhibitions</li>  
                                                                 <li> Competitions, project displays, fashion shows, and more</li>  
                                                            </ul>
                                                            <a href="/admission" class="uc-link fw-bold hstack gap-narrow mt-2 sm:mt-1 lg:mt-2">
                                                                <span>Get Started</span>
                                                                <i class="position-relative icon icon-1 fas fa-arrow-right rtl:rotate-180 translate-y-px"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="feature-item panel">
                                    <div class="row child-cols col-match justify-between g-4">
                                        <div class="col-12 sm:col-6">
                                            <figure class="featured-image m-0 rounded ratio ratio-1x1 rounded-2 overflow-hidden">
                                                <img class="media-cover image" src="/assets/images/learn.png" alt="Review quickly and confidently">
                                            </figure>
                                        </div>
                                        <div class="col-12 sm:col-6">
                                            <div class="panel">
                                                <div class="panel vstack justify-center gap-4 h-100 sm:p-3 lg:p-4">
                                                    <div>
                                                        <div class="panel vstack gap-2">
                                                            <h3 class="h4 sm:h3 lg:h2 m-0"> Learn, Earn & Launch Your Career</h3>
                                                            <p class="fs-6 lg:fs-5 opacity-70 dark:opacity-80">Your success is our mission. From internships to full-time placements, INSD Raipur prepares you with everything needed to excel professionally. Our ‘Earn While You Learn’ model and real brand projects make sure you're industry-ready from day one.</p>
                                                            <ul class="fs-6 lg:fs-5 opacity-70 dark:opacity-80">
                                                                <li>Placement & Internship opportunities with MNCs </li>
                                                                  <li>‘Earn While You Learn’ Program</li>  
                                                                 <li> Real-world projects, brand collaborations</li> 
                                                                    <li> Dedicated career support for every student</li> 
                                                            </ul>
                                                            <a href="/admission" class="uc-link fw-bold hstack gap-narrow mt-2 sm:mt-1 lg:mt-2">
                                                                <span>Get Started</span>
                                                                <i class="position-relative icon icon-1 fas fa-arrow-right rtl:rotate-180 translate-y-px"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>